@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
.share-icon {
  width: 40px;
  background-color: lightgray;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  padding: 0.5em;
}
.share-icon:hover {
  cursor: pointer;
}

.show-content {
  width: 100%;
  position: absolute;
  top: 140px;
  right: -48px;
  max-width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: hsl(217, 19%, 35%);
  color: hsl(212, 23%, 69%);
  padding: 5px 8px;
  border-radius: 10px;
  opacity: 0;
}
.show-content > p {
  letter-spacing: 2px;
}
.show-content .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.show-content .icons img {
  width: 15px;
  margin-right: 1em;
}
.show-content .share-icon {
  display: none;
}
.show-content .triangle {
  position: absolute;
  top: 33px;
  width: 0;
  height: 0;
  border-top: 10px solid hsl(217, 19%, 35%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  max-width: 700px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  font-size: 13px;
}
.main-container .image-container {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: auto;
}
.main-container .image-container > img {
  width: 100%;
  display: block;
  margin: auto;
  padding: 0;
}
.main-container .content-container {
  display: block;
  width: 100%;
  max-width: 400px;
  line-height: 1.5rem;
  padding: 1.5rem 2rem;
}
.main-container .content-container h2 {
  color: hsl(217, 19%, 35%);
}
.main-container .content-container > .description {
  color: hsl(214, 17%, 51%);
  margin: 0.5rem 0;
}
.main-container .bottom-container .primary-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-container .bottom-container .primary-content img {
  width: 50px;
  border-radius: 50%;
}
.main-container .bottom-container .primary-content .michelle {
  flex-basis: 200px;
  margin: 0;
}
.main-container .bottom-container .primary-content .michelle > p:nth-child(1) {
  color: hsl(217, 19%, 35%);
  font-weight: bold;
}
.main-container .bottom-container .primary-content .michelle > p:nth-child(2) {
  color: hsl(214, 17%, 51%);
}

.share-icon {
  width: 40px;
  background-color: lightgray;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  padding: 0.5em;
}
.share-icon:hover {
  cursor: pointer;
}

.show-content {
  width: 100%;
  position: absolute;
  top: 140px;
  right: -48px;
  max-width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: hsl(217, 19%, 35%);
  color: hsl(212, 23%, 69%);
  padding: 5px 8px;
  border-radius: 10px;
  opacity: 0;
}
.show-content > p {
  letter-spacing: 2px;
}
.show-content .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.show-content .icons img {
  width: 15px;
  margin-right: 1em;
}
.show-content .share-icon {
  display: none;
}
.show-content .triangle {
  position: absolute;
  top: 33px;
  width: 0;
  height: 0;
  border-top: 10px solid hsl(217, 19%, 35%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.share-icon {
  width: 40px;
  background-color: lightgray;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  padding: 0.5em;
}
.share-icon:hover {
  cursor: pointer;
}

.show-content {
  width: 100%;
  position: absolute;
  top: 140px;
  right: -48px;
  max-width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: hsl(217, 19%, 35%);
  color: hsl(212, 23%, 69%);
  padding: 5px 8px;
  border-radius: 10px;
  opacity: 0;
}
.show-content > p {
  letter-spacing: 2px;
}
.show-content .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.show-content .icons img {
  width: 15px;
  margin-right: 1em;
}
.show-content .share-icon {
  display: none;
}
.show-content .triangle {
  position: absolute;
  top: 33px;
  width: 0;
  height: 0;
  border-top: 10px solid hsl(217, 19%, 35%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  max-width: 700px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  font-size: 13px;
}
.main-container .image-container {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: auto;
}
.main-container .image-container > img {
  width: 100%;
  display: block;
  margin: auto;
  padding: 0;
}
.main-container .content-container {
  display: block;
  width: 100%;
  max-width: 400px;
  line-height: 1.5rem;
  padding: 1.5rem 2rem;
}
.main-container .content-container h2 {
  color: hsl(217, 19%, 35%);
}
.main-container .content-container > .description {
  color: hsl(214, 17%, 51%);
  margin: 0.5rem 0;
}
.main-container .bottom-container .primary-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-container .bottom-container .primary-content img {
  width: 50px;
  border-radius: 50%;
}
.main-container .bottom-container .primary-content .michelle {
  flex-basis: 200px;
  margin: 0;
}
.main-container .bottom-container .primary-content .michelle > p:nth-child(1) {
  color: hsl(217, 19%, 35%);
  font-weight: bold;
}
.main-container .bottom-container .primary-content .michelle > p:nth-child(2) {
  color: hsl(214, 17%, 51%);
}

.share-icon {
  width: 40px;
  background-color: lightgray;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  padding: 0.5em;
}
.share-icon:hover {
  cursor: pointer;
}

.show-content {
  width: 100%;
  position: absolute;
  top: 140px;
  right: -48px;
  max-width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: hsl(217, 19%, 35%);
  color: hsl(212, 23%, 69%);
  padding: 5px 8px;
  border-radius: 10px;
  opacity: 0;
}
.show-content > p {
  letter-spacing: 2px;
}
.show-content .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.show-content .icons img {
  width: 15px;
  margin-right: 1em;
}
.show-content .share-icon {
  display: none;
}
.show-content .triangle {
  position: absolute;
  top: 33px;
  width: 0;
  height: 0;
  border-top: 10px solid hsl(217, 19%, 35%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

@media screen and (min-width: 600px) {
  body {
    background-color: blue;
  }
  .wider-show-content {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
  }
  .wider-show-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: hsl(217, 19%, 35%);
    color: hsl(210, 46%, 95%);
    padding: 0.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .show-content {
    display: none;
  }
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: hsl(210, 46%, 95%);
  margin: auto;
  font-family: "Manrope", serif;
}/*# sourceMappingURL=index.css.map */